<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<p>@ViewBag.full</p>
		<p>@ViewBag.happy</p>
		<p>@ViewBag.meals</p>
		<p>@ViewBag.energy</p>
		<p>@ViewBag.message</p>
		<form asp-action="Restart" asp-controller="Home" method="post">
			<input type="submit" value="Restart?" />
		</form>
	</body>
</html>
